@media only screen and (max-width: 900px) {
  .hero-parent {
    flex-direction: column;
    height: 100%;
  }
  .main-section {
    position: inherit;
  }
  .inner-menu {
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
  }
  .inner-menu-ul {
    margin-left: 0px;
  }
  .hero-details {
    height: 100vh;
  }
  .details-left {
    padding-top: 9rem;
    padding-left: 0px;
  }
  .details-right {
    justify-content: center;
    align-items: flex-end;
  }
  .title-right {
    text-align: right;
    margin-bottom: 5px;
  }
  .nav-menu {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .inner-menu ul {
    margin-top: 50px;
    padding: 15px 20px;
    margin-left: 0px;
  }
  .inner-menu ul li {
    text-align: center;
    padding: 0;
    gap: 5px;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
  }
  .right-menu {
    margin-top: 2rem;
    align-items: center;
  }

  nav {
    left: 10%;
    top: 5%;
  }
  .commercial-hr {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .commercial-hr img {
    width: 100px;
  }
  .se-video {
    width: 87%;
    height: 245px;
  }

  .grey-section {
    height: 100%;
  }
  .milestones-section {
    align-items: flex-start;
  }
  .milestones-data {
    height: 100%;
    flex-direction: column;
    padding: 12px;
    width: 90%;
  }
  .milestone-left {
    height: 458px;
    width: 450px;
  }

  .green-arrow {
    font-size: 20px;
  }
  .section-title {
    font-size: 20px;
  }
  /* tab section  */
  .tabs-section {
    width: fit-content;
    height: 100%;
  }
  .tabs {
    align-items: center;
    width: fit-content;
  }
  .tabs-list {
    align-self: flex-start;
    margin-left: 24px;
  }
  .tab-desc {
    width: fit-content;
    font-size: 10px;
  }
  .inner-container {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 600px;
  }
  .start-section {
    align-items: center;
    width: 100%;
  }
  [data-tab-content] {
    width: 90%;
    align-items: center;
    height: 90%;
  }

  .inner-tab-right {
    height: 100px;
    flex-grow: 2;
  }
  .inner-tab-right img {
    height: 200px;
  }
  .hire-container {
    padding: 0;
    height: auto;
  }
  .contact-us-container {
    flex-direction: column-reverse;
    width: 90%;
  }
  .row {
    gap: 0;
  }
  .inner-testimonial-slide {
    flex-direction: column;
  }
  .row-partners {
    flex-wrap: wrap;
  }

  .partners-section {
    margin-bottom: 20px;
    height: 100%;
  }
  .news-letter {
    flex-direction: column;
    height: 14rem;
    padding-bottom: 10px;
  }
  .links-section {
    flex-direction: column;
  }
}
