@media only screen and (max-width: 900px) {
   .hero {
      position: relative;
   }
   .hero-parent {
      flex-direction: column;
   }

   .inner-menu {
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 20px;
   }
   .hero-details {
      height: 100vh;
   }
   .details-left {
      padding-top: 9rem;
      padding-left: 0px;
   }
   .details-right {
      justify-content: center;
      align-items: flex-end;
   }
   .title-right {
      text-align: right;
      margin-bottom: 5px;
   }
   .nav-menu {
      background-color: rgba(0, 0, 0, 0.9);
   }
   .inner-menu ul {
      margin-top: 50px;
      padding: 15px 20px;
   }
   .inner-menu ul li {
      text-align: center;
      padding: 0;
      gap: 5px;
      font-size: 20px;
      margin: 0;
      line-height: 1.5;
   }
   .right-menu {
      align-items: center;
   }

   nav {
      left: 10%;
      top: 5%;
   }
   .commercial-hr {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .commercial-hr img {
      width: 100px;
   }
   .se-video {
      width: 100%;
      max-width: 800px;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   .se-video iframe {
      width: 20%;
      height: 50%;
      border: 10px solid var(--sef_primary);
      border-radius: 10px;
   }
   .milestones-data {
      flex-direction: column;
   }
   .green-arrow {
      font-size: 20px;
   }
   .section-title {
      font-size: 20px;
   }
}
