:root {
   --white: #fcfcfd;
   --black: #363738;
   --pink_primary: #fb508e;
   --sef_primary: #28eea7;
   --grey: #a5a6a9;
   --black-2: #232323;
   --daf_primary: #fb4747;
   --background: #f1f2f3;
   --ylw_primary: #ffc635;
   --ppl_primary: #9864da;
   --overlay-black: rgba(35, 35, 35, 0.9);
   --light_grey: #dcdee1;
   --hrf_primary: #31b7f0;
   --overlay-green: rgba(40, 238, 167, 0.9);
   --ghost-white: #ecedf3;
   --purple-overlay: rgba(152, 100, 218, 0.9);
   --pink-overlay: rgba(202, 100, 218, 0.9);
}

.hero-parent {
   display: flex;
   height: 100vh;
   width: 100vw;
   position: relative;
}
.hero-section {
   background-size: cover;
   background-position: 50%;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}
.hero-left {
   background-image: url(/assets/img/hero-left.png);

   justify-content: flex-end;
}
.hero-right {
   background-image: url(/assets/img/hero-right.png);

   justify-content: flex-start;
}

.color-overlay {
   width: 100%;
   height: 100%;
   background: var(--overlay-green);
}
.color-overlay-right {
   width: 100%;
   height: 100%;
   background: rgba(35, 35, 35, 0.8);
}
.hero-details {
   display: flex;
   padding-right: 50px;
   padding-left: 70px;
   flex-direction: column;
   height: 40vh;
   max-width: 670px;
}

.details-left {
   justify-content: flex-start;
   align-items: flex-end;
}
.details-right {
   justify-content: flex-start;
   align-items: flex-start;
}

.title-left {
   text-align: right;
}
.title-right {
   text-align: left;
   color: var(--white);
}
.title-span {
   padding: 10px;
   font-size: 24px;
   display: inline;
   line-height: 3.5;
}
.span-left {
   background-color: var(--black);
   color: var(--white);
}
.span-right {
   background-color: var(--white);
   color: var(--black);
}
.hero-left-desc {
   color: var(--white);
   text-align: right;
   font-size: 15px;
   margin-top: 40px;
   margin-bottom: 40px;
   line-height: 1.5;
}
.hero-text-title {
   font-size: 36px;
   font-weight: 900;
}

.text-right {
   color: var(--white);
}
.hero-right-desc {
   color: white;
   font-size: 15px;
   line-height: 1.5;
   padding-top: 40px;
   padding-bottom: 40px;
}
.typed-cursor {
   font-size: 36px;
   color: var(--black);
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
}
.hero-btn {
   font-weight: 900;
   padding: 20px;
   cursor: pointer;
}
.left {
   color: white;
   background-color: var(--black-2);
}
.right {
   color: var(--black-2);
   background-color: var(--white);
}
/* bars display menu */
.nav-menu {
   display: none;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(10px);
   border-radius: 10px;
   color: var(--white);
   position: absolute;
   z-index: 1;
}
.inner-menu {
   margin-top: 50px;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   padding: 20px;
   gap: 30%;
}
.inner-menu ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-top: 40px;
}
.inner-menu ul li {
   margin-left: 16px;
   padding: 10px;
   list-style: none;
   font-size: 25px;
   font-weight: bold;
   text-align: left;
   cursor: pointer;
}

.inner-menu ul li:first-child {
   color: var(--sef_primary);
}

.right-menu {
   margin-top: 5rem;
   display: flex;
   flex-direction: column;
   text-align: left;
   gap: 30px;
   height: 80%;
}
.account-credentials {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 3rem;
   background-color: var(--black);
   height: 100%;
   width: 80%;
   border-radius: 15px;
}
.header-credentials {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.header-credentials p {
   color: var(--grey);
}

.action-credentials {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.account-btn {
   width: 100%;
   color: var(--black-2);
   padding: 15px;
   text-align: center;
   font-weight: bold;
}
.log-in {
   background-color: var(--sef_primary);
}
.sign-up {
   background-color: var(--white);
}
.commercial-hr {
   display: flex;
   gap: 10px;
   padding: 10px 20px 10px 20px;
   background-color: var(--hrf_primary);
   border-radius: 15px;
   width: 80%;
}

.commercial-details {
   flex-direction: column;
   justify-content: space-around;
}
.commercial-details h1 {
   font-size: 1rem;
}
.commercial-details p {
   font-size: 0.6rem;
}

.start-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--white);
   height: 100vh;
}
.inner-section {
   width: 80%;
   padding: 2rem;
   display: flex;
   justify-content: space-between;
}
.grey-section {
   background-color: var(--background);
}
.section-title {
   font-size: 2rem;
}

/* video section */
.se-video {
   width: 100%;
   max-width: 800px;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.se-video iframe {
   width: 100%;
   height: 80%;
   border: 10px solid var(--sef_primary);
   border-radius: 10px;
}

/* milestones section */

.milestones {
   display: flex;
   flex-direction: column;
}
