:root {
   --white: #fcfcfd;
   --black: #363738;
   --pink_primary: #fb508e;
   --sef_primary: #28eea7;
   --grey: #a5a6a9;
   --black-2: #232323;
   --daf_primary: #fb4747;
   --background: #f1f2f3;
   --ylw_primary: #ffc635;
   --ppl_primary: #9864da;
   --overlay-black: rgba(35, 35, 35, 0.9);
   --light_grey: #dcdee1;
   --hrf_primary: #31b7f0;
   --overlay-green: rgba(40, 238, 167, 0.9);
   --ghost-white: #ecedf3;
   --purple-overlay: rgba(152, 100, 218, 0.9);
}
* {
   box-sizing: border-box;
   margin: 0;
}

.body {
   color: var(--black);
   font-size: 16px;
   line-height: 1;
   overflow-x: hidden;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   z-index: 2;
   left: 10%;
   top: 10%;
   min-width: 80%;
}
nav i {
   color: var(--white);
   font-size: 40px;
   padding: 10px;
   background-color: var(--black);
   border-radius: 10px;
}

.green-arrow {
   color: var(--sef_primary);
   font-weight: bolder;
   font-size: 20px;
   margin-right: 10px;
}
